* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* MENU HAMBURGUESA */
.burguer-menu-toggler-container{
    display: none;
    position: relative;
}

.fa-bars, .fa-x {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 350ms;
}

.icon-inactive {
    pointer-events: none;
}

.icon-active {
    z-index: 1;
    pointer-events: auto;
    opacity: 1;
}

.burguer-menu-container{
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 90vh;
    left: 0;
    z-index: 1000;
    padding-top: 2vh;
}

.side-navbar {
    position: fixed;
    left: 0;
    top: 9vh;
    bottom: 0;
    background-color: white;
    z-index: 999;
    right: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-width 350ms ease;
    border-top: 1px solid grey;
    padding-top: 1rem;
}

.side-navbar-active {
    max-width: 1000px;
}


.burguer-menu-options {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-content: center;
    flex-wrap: wrap;
}
.burguer-menu-option{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.burguer-menu-option a{
    color: #000;
    font-size: 25px;
}
.burguer-menu-option i{
    margin: auto 0;
}
/* END MENU HAMBURGUESA */

.header-section {
    position: absolute;
    width: 100%;
    padding: 2.5vh 0;
    z-index: 1000;
    transition: background-color 300ms ease;
}

.header-section-active {
    background-color: white;
    border-bottom: 1px solid grey
    ; /*(40, 40, 40, .2);*/
}

.home-header-section:hover {
    background-color: #ffffff;
}

.nav-bar-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    width: 25%;
    text-align: center;
}

.search-container .nav-label {
    margin-left: 10px;
}

.brand-name {
    width: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.nav-end {
    width: 25%;
    display: flex;
    justify-content: space-around;
    /* align-self: flex-end; */
}

.shopping-cart-container {
    position: relative;
    width: fit-content;
}

.shopping-cart-container .fa-bag-shopping {
    font-weight: 900;
    font-size: 20px;
}

.shopping-cart-container .products-quantity {
    position: absolute;
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 11px;
    height: 9px;
    width: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: -18px;
    right: -15px;
}


/* MEDIAS QUERIES */

/* TABLET */
@media (max-width:768px) {}

/* MOBILE */
@media (max-width:426px) {
    .header{
        max-height: 10vh;
    }
    .search-container .nav-label {
        display: none;
    }

    .brand-name {
        font-size: 30px;
    }
    .shopping-cart-container .fa-bag-shopping{
        font-size: 15px;
    }
    .shopping-cart-container .products-quantity {
        font-size: 8px;
        height: 7px;
        width: 7px;
        padding: 8px;
    }
    .search-container{
        width: 12.5%;
    }
    .burguer-menu-toggler-container{
        display: inline;
        width: 12.5%;
        text-align: center;
    }
}