* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.noScroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.black-screen {
    background-color: rgba(0, 0, 0, .4);
}

/* MENU HAMBURGUESA */

.burguer-menu-btns-container {
    display: inline;
    width: 12.5%;
    text-align: center;
    position: relative;
}

.open-menu-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 350ms;
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
}

/* MENU  */

.side-navbar-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 110;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: width 350ms ease;
    overflow-y: scroll;
    padding-top: 1rem;
    height: 100%;
}

.side-navbar-container-active {
    width: 100%;

}

.close-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    padding-left: 2rem;
}

.close-menu-button {
    margin-right: 20px;
}

.close-menu-text {
    font-size: 19px;
}

.burguer-menu-category-list {
    padding: 0 2rem;
}

.category-link {
    color: #000;
    font-size: 20px;
}

.burguer-menu-option-list {
    padding: 0 2rem;
}

.burguer-menu-option {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size: 15px;
}

.burguer-menu-option a {
    color: #000;
    font-size: 20px;
}

.burguer-menu-option i {
    margin: auto 0;
}

.burger-submenu-back {
    color: rgb(166, 166, 166);
    font-size: 25px;

}

/* END MENU HAMBURGUESA */

.header {
    position: static;
    width: 100%;
    padding: 2.5vh 0;
    background-color: white;
    border-bottom: 1px solid rgba(40, 40, 40, .2);
    height: 10vh;
    transition: visibility .2s ease-out;
}
.header-hidden{
    animation: fadeOutUp .2s ease-in-out;
    position: fixed;
    z-index: 10;
    visibility: hidden;
    top: 0;
}
.header-active{ /* Para cuando scrollean para arriba */
    position: fixed;
    z-index: 10;
    animation: fadeInDown .4s ease-in-out;
    top: 0;
    visibility: visible;
}

.nav-bar-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    width: 12.5%;
    text-align: center;
    cursor: pointer;
}

.brand-name {
    color: #000;
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.nav-end {
    width: 25%;
    display: flex;
    justify-content: space-around;
    /* align-self: flex-end; */
}

.login-toggler {
    cursor: pointer;
}

.login-toggler-mobile {
    display: inline-block;
}

.shopping-cart-container {
    position: relative;
    width: fit-content;
}

.shopping-cart-container .fa-bag-shopping {
    font-weight: 900;
    font-size: 15px;
}

.shopping-cart-container .products-quantity {
    position: absolute;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: -18px;
    right: -15px;
    font-size: 8px;
    height: 7px;
    width: 7px;
    padding: 8px;
}

/* SEARCH FORM */
.search-section-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: height .3s ease;
    overflow: hidden;
    height: 0%;
    background-color: #fff;
    display: flex;
    /* margin-top: 10vh; */
    justify-content: center;
}

.search-section-container-active {
    /* margin-top: 0; */
    /* transform: translateY(0); */
    height: 12%;
    border-bottom: 1px solid rgba(40, 40, 40, .2);
}


.search-input-container {
    position: relative;
    height: fit-content;
    margin: auto;
    width: 90%;
    text-align: center;
}

.search-input-container .search-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    cursor: pointer;
}

.close-search-form-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
    display: none;
}

.search-input-container .search-input {
    background-color: #efefef;
    padding: 15px;
    padding-left: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
}

.search-container-top .fa-x {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
    opacity: 1;
    cursor: pointer;
}

/* END PARTE DE ARRIBA */
/* TERMINADO SEARCH FORM  */
/* MEDIAS QUERIES */

/* TABLET */
@media (min-width:768px) {}

/* MOBILE */
@media (min-width: 1024px) {
    .header{
        height: auto;
    }
    .brand-name {
        font-size: 40px;
    }

    .shopping-cart-container .fa-bag-shopping {
        font-size: 20px;
    }

    .shopping-cart-container .products-quantity {
        padding: 10px;
        font-size: 11px;
        height: 9px;
        width: 9px;
    }

    /* MENU */
    .side-navbar-container-active {
        width: 490px;
    }

    .category-link {
        font-size: 24px;
    }

    .burguer-menu-option {
        /* font-size: 15px; */
    }


    /* SEARCH FORM */
    .search-section-container {
        margin-top: 0;
        /* border-top: 1px solid rgba(200, 200, 200, .4); */
    }

    .search-section-container-active {
        height: 15%;
    }

    .close-search-form-button {
        display: inline-block;
    }

    .search-input-container {
        width: 100%;
    }

    .search-input-container .search-logo{
        left: 31%
    }

    .search-input-container .search-input {
        width: 40vw;
    }
}



/* ANIMACIONES */
@keyframes fadeInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeOutUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }