.filter-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    padding-top: 5vh;
    margin-bottom: 3.5vh;
    /* margin-top: 10vh; */

}

.page-detail {
    margin: auto 0;
    font-size: 15px;
    letter-spacing: 1px;
}

.filter-container {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(40, 40, 40, .5);
    border-radius: 30px;
    padding: 8px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: auto 0;
}

.filter-container:hover {
    border: 1px solid #000;
}

.product-list-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
}

.filter-btn-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(40, 40, 40, .5);
    border-radius: 30px;
    padding: 8px 10px;
    cursor: pointer;
}

.filter-name {
    margin-right: 0.400rem;
}

.filters-container {
    position: fixed;
    z-index: 20;
    height: 100vh;
    bottom: 0;
    width: 100%;
    left: 100%;
    overflow: hidden;
    background-color: white;
    transition: left 250ms;
    padding: 1rem 2rem;
}

.filters-container-active {
    left: 0;
}

.filter-title-close-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}


.filters-list {
    margin-top: 1rem;
}

.filter {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding-bottom: 0.500rem;
    cursor: pointer;
    width: 98.5%;
}

/* .filter-with-dropdown {
    font-size: 1.2rem;
    margin: 1.5rem 0;
} */

.filter-item-arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.500rem;
}

.filter-dropdown-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}   

.filter-dropdown-container-active {
    max-height: 600px;
}


/* PRODUCT LIST */
.product-list-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3vw;
    row-gap: 3vh;
}

/* PRODUCT CARD */
.product-card-link {
    color: #000;
}

.product-card-container {

    position: relative;
    cursor: pointer;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* margin: 0.500rem; */
    background: linear-gradient(rgba(200, 200, 200, .4), rgba(255, 255, 255, 0.2));
}

.image-container {
    height: 200px;
}

.image-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.product-image-test {
    display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%;
    right: 50%;
    position: absolute;
    transition: all .7s;
    opacity: 0;
}

.product-image-test-next-slide {
    transform: translateX(100%);
    z-index: 0;
}

.product-image-test-prev-slide {
    transform: translateX(-100%);
    z-index: 0;
}

.product-image-test-active {
    opacity: 1;
    transform: translateX(50%);
    z-index: 1;
}

.product-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* PRODUCT INFO */
.product-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/* NOMBRE Y PRECIO */
.price-name-container {
    width: 50%;
}

.product-name,
.product-price {
    font-size: 12px;
    letter-spacing: 1px;
}

.product-dots-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 10;
}

.product-carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid grey;
}

.product-carousel-dot-active {
    background-color: black;
}



/* MEDIAS QUERIES */
/* TABLET */
@media (min-width:768px) {
    .product-card-container {
        width: 33.333%;
    }

    .filters-container {
        width: 70%;
    }

    .filters-container-active {
        left: 30%
    }

    .bx-x {
        
        font-size: 1.7rem;
    }
}

/* MOBILE */
@media (min-width:1024px) {
    .product-card-container {
        width: 30%;
    }

    .image-container {
        height: 350px;
    }

    .product-name,
    .product-price {
        font-size: 15px;
    }

    .filters-container {
        width: 50%;
    }
    .filters-container-active {
        left: 50%
    }

    .bx-x {
        cursor: pointer;
        font-size: 2rem;
    }
    

}