<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Home</title>
</head>

<body>
    <div class="main-container">
        <%- include('./partials/header.ejs') %>
            <section class="main-section">
                <div class="carrusel-image-container">
                    <img src="./img/homePage/snicker.avif" alt="">
                    <div class="sticky-options-container">
                        <p class="sticky-options-title">EXCLUSIVELY ONLINE: LV ARCHLIGHT 2.0</p>
                        <button>Discover the Collection</button>
                    </div>
                </div>
                
            </section>

    </div>
</body>

</html>