<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="./css/index.css">
    <title>Home</title>
</head>

<body>
    <div class="main-container">
        <%- include('./partials/header/homeHeader.ejs') %>
            <section class="main-section">
                <div class="carrusel-image-container">
                    <img src="./img/homePage/snicker.avif" alt="">
                    <div class="sticky-options-container">
                        <p class="sticky-options-title">EXCLUSIVELY ONLINE: LV ARCHLIGHT 2.0</p>
                        <button>Discover the Collection</button>
                    </div>
                </div>

            </section>

    </div>
</body>

</html>