<header class="header"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="burguer-menu-btns-container">
            <i class="fa-solid fa-bars open-menu-button"></i><!--  -->
            <!-- <i class="fa-solid fa-x burguer-menu-btn close-menu-button"></i> -->
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <a href="/" class="brand-name">Alter Ego</a>
        <div class="nav-end">
            <i class="fa-solid fa-user login-toggler login-toggler-mobile"></i>
            <div class="shopping-cart-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="products-quantity">5</p>
            </div>
        </div>
    </nav>
    <div class="side-navbar-container">
        <div class="close-button-container">
            <i class="fa-solid fa-x burguer-menu-btn close-menu-button"></i>
            <p class="close-menu-text">Cerrar</p>
        </div>
        <ul class="burguer-menu-category-list">
            <li class="burguer-menu-category">
                <a href="#" class="category-link">Ver todos los productos</a>
                <ul class="burguer-menu-option-list">
                    <li class="burguer-menu-option"><a href="#">Trajes</a></li>
                    <li class="burguer-menu-option"><a href="#">Vestidos</a></li>
                    <li class="burguer-menu-option"><a href="#">Blazers</a></li>
                    <li class="burguer-menu-option"><a href="#">Tops</a></li>
                    <li class="burguer-menu-option"><a href="#">Bottoms</a></li>
                    <li class="burguer-menu-option"><a href="#">Sets</a></li>
                </ul>
            </li>
            <li class="burguer-menu-category">
                <a href="#" class="category-link">Quienes somos - Alter EGO?</a>
                <ul class="burguer-menu-option-list">
                    <li class="burguer-menu-option"><a href="#">Packaging</a></li>
                    <li class="burguer-menu-option"><a href="#">Delivery</a></li>
                    <li class="burguer-menu-option"><a href="#">Experiencias Alter Ego</a></li>
                    <li class="burguer-menu-option"><a href="#">Gift Cards</a></li>
                    <li class="burguer-menu-option"><a href="#">Registrate</a></li>
                    <li class="burguer-menu-option"><a href="#">Preguntas Frecuentes</a></li>
                    <li class="burguer-menu-option"><a href="#">Citas</a></li>
                </ul>
            </li>
            <li class="burguer-menu-category"><a href="#">#Direccion del local</a></li>
            <li class="burguer-menu-category"><a href="#">+(549)11-2222-3333</a></li>
        </ul>
        
    </div>
</header>
<div class="search-section-container">
    <div class="search-input-container">
        <i class="fa-solid fa-magnifying-glass search-logo"></i>
        <input type="text" class="search-input" placeholder="Buscar productos...">
        <i class="fa-solid fa-x close-search-form-button"></i>
    </div>
</div>