<header class="header"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="burguer-menu-btns-container">
            <i class="fa-solid fa-bars burguer-menu-btn burguer-menu-btn-active open-menu-button"></i><!--  -->
            <i class="fa-solid fa-x burguer-menu-btn close-menu-button"></i><!--  -->
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label class="nav-label">Search</label>
        </div>
        <a href="/" class="brand-name">Alter Ego</a>
        <div class="nav-end">
            <i class="fa-solid fa-user login-toggler login-toggler-mobile"></i>
            <div class="shopping-cart-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="products-quantity">5</p>
            </div>
        </div>
    </nav>
    <div class="side-navbar-container">
        <ul class="burguer-menu-option-list">
            <li class="burguer-menu-option"><a href="#">Menu #1</a><i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Menu #2</a><i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Menu #3</a><i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Menu #4</a><i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Menu #5</a><i class="fa-solid fa-angle-right"></i></li>
        </ul>
    </div>
</header>
<div class="search-section-container">
    <div class="search-input-container">
        <i class="fa-solid fa-magnifying-glass search-logo"></i>
        <input type="text" class="search-input" placeholder="Buscar productos...">
        <i class="fa-solid fa-x close-search-form-button"></i>
    </div>
</div>