<header class="header-section"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label class="nav-label">Search</label>
        </div>
        <h3 class="brand-name">Louis Vuitton</h3>
        <div class="nav-end">
            <div class="shopping-cart-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="products-quantity">5</p>
            </div>
        </div>
    </nav>
</header>