<header class="header-section normal-header"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="burguer-menu-toggler-container">
            <i class="fa-solid fa-bars burguer-menu-toggler" ></i><!--  -->
            <i class="fa-solid fa-x burguer-menu-toggler"></i><!-- burguer-menu-toggler close-button -->
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label class="nav-label">Search</label>
        </div>
        <a href="/" class="brand-name">Alter Ego</a>
        <div class="nav-end">
            <div class="shopping-cart-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="products-quantity">5</p>
            </div>
        </div>
    </nav>
    <div class="side-navbar">
        <ul class="burguer-menu-options">
            <li class="burguer-menu-option">
                <a href="#">Gifts</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="burguer-menu-option"><a href="#">New</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Bags</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Women</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Men</a> <i class="fa-solid fa-angle-right"></i></li>
        </ul>
    </div>
</header>