<header class="header-section normal-header"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="burguer-menu-toggler-container">
            <i class="fa-solid fa-bars burguer-menu-toggler"></i><!--  -->
            <i class="fa-solid fa-x burguer-menu-toggler"></i><!-- burguer-menu-toggler close-button -->
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label class="nav-label">Search</label>
        </div>
        <a href="/" class="brand-name">Alter Ego</a>
        <div class="nav-end">
            <i class="fa-solid fa-user login-toggler login-toggler-mobile"></i>
            <p class="login-toggler login-toggler-desktop">Entrar</p>
            <div class="shopping-cart-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="products-quantity">5</p>
            </div>
        </div>
    </nav>
    <div class="side-navbar">
        <ul class="burguer-menu-options">
            <li class="burguer-menu-option">
                <a href="#">Gifts</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="burguer-menu-option"><a href="#">New</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Bags</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Women</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Men</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">New</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Bags</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Women</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Men</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">New</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Bags</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Women</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Men</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">New</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Bags</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Women</a> <i class="fa-solid fa-angle-right"></i></li>
            <li class="burguer-menu-option"><a href="#">Men</a> <i class="fa-solid fa-angle-right"></i></li>


        </ul>
    </div>
</header>
<section class="search-main-section">
    <div class="search-form-container search-form-container-inactive">
        <div class="search-container-top">
            <div class="search-input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="search-input" placeholder="Buscar productos...">
            </div>
            <i class="fa-solid fa-x close-search-form-button"></i>
        </div>
        <div class="search-container-middle">
            <div class="categories-section-container">
                <div class="category-container">
                    <label class="category-label">WOMEN</label>
                    <ul class="category-topics-list">
                        <a href="#">
                            <li class="category">All Small Leather Goods</li>
                        </a>
                        <a href="#">
                            <li class="category">All Shoes</li>
                        </a>
                        <a href="#">
                            <li class="category">Ready-to-Wear</li>
                        </a>
                        <a href="#">
                            <li class="category">Scarves</li>
                        </a>
                    </ul>
                </div>
                <div class="category-container">
                    <label class="category-label">MEN</label>
                    <ul class="category-topics-list">
                        <a href="#">
                            <li class="category">Gift Selection for Men</li>
                        </a>
                        <a href="#">
                            <li class="category">Sneakers</li>
                        </a>
                        <a href="#">
                            <li class="category">All Small Leather Goods</li>
                        </a>
                        <a href="#">
                            <li class="category">All Bags</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="products-section-container">
                <label for="" class="product-label">PRODUCTS</label>
                <div class="products-cards-container">
                    <div class="search-product-card">
                        <div class="search-image-container">
                            <img src="/img/products/handbags/cartera1.avif" alt="cartera">
                        </div>
                        <p class="search-product-name">Cartera #1</p>
                    </div>
                    <div class="search-product-card">
                        <div class="search-image-container">
                            <img src="/img/products/handbags/cartera1.avif" alt="cartera">
                        </div>
                        <p class="search-product-name">Cartera #2</p>
                    </div>
                    <div class="search-product-card">
                        <div class="search-image-container">
                            <img src="/img/products/handbags/cartera1.avif" alt="cartera">
                        </div>
                        <p class="search-product-name">Cartera #3</p>
                    </div>
                    <div class="search-product-card">
                        <div class="search-image-container">
                            <img src="/img/products/handbags/cartera1.avif" alt="cartera">
                        </div>
                        <p class="search-product-name">Cartera #4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>